.moment {
  display: flex;
  align-items: center;
}

.moment__time {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 25px;
  background-color: powderBlue;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
}
